body {
	font-family: 'Open Sans', sans-serif;	
}

#headline {
	border: 3px solid;
	width: 70%;
	text-align: center;
}

#awards {
	float: center;
}

#section {
	text-align: center;
}

#individual {
	display: none;
}

nav {
text-align: right;
}