body {
	font-family: 'Open Sans', sans-serif;
	background-color: lightblue;
	border: 4px solid;
}

#awards {
	float: center;
}

#section {
	text-align: center;
}

#individual {
	display: none;
}

nav {
text-align: right;

}