/*****************
Main Page
*****************/

h1 { 
	font-family: 'Roboto', sans-serif;
	text-align: left; 
}
a {
	text-decoration: none; 
font-family: 'Roboto', sans-serif;
}
nav {
text-align: right;

}
#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background:#999;
}

/*****************
Sign in Page
*****************/
form
{
	/*display: inline-flex;*/
	/*float: right;*/
	margin: 0 20%;
	width: 60%;
}

.headerDesign 
{
	margin: auto;

	width: 100%;
	padding-left: 20px;
	/*background-color: aliceblue;*/
	overflow: hidden;
	font-size: 3em;
	/*position: absolute;*/
}


#form h1
{
	background-image: url("images/ribbon.png");
	background-repeat: no-repeat;
	color: white;
	width: 100%;
	margin: auto;
	/*overflow: hidden;*/
	align-items: center;
	/*border: 1px solid black;*/
	text-align: left;
	display: inline-block;
 	float: right;

}

#form
 {
 	/*border:2px solid black;*/
 	border-radius: 10px;
 	/*padding: 0 10px 10px 10px;*/
 	width: 50%;
 	margin: auto;
 	overflow: hidden;
 	font-family: 'Roboto' , 'sans-serif';
 	font-size: 1em;
 	
 }
 


#hyperlinks a
{
	width: 40%;
	float: left;
	font-size: 1em;
}

#signinButton
{
	width:50%;
	margin: auto;
	border-radius: 10px;
	background-color: slategray;
	padding:15px;
	font-size: 1.2em;

}


input
{
	 border-radius: 10px;
	 height: 20px;
}


#hyperlinks a
{
	width: 50%;
	font-size: 1em;
	text-align: left;
}

button
{
	width:50%;
	margin: 0 auto;
	border-radius: 10px;
	background-color: black;
	border: 1px solid gray;
	height: 30px;
	font-size: 1.2em;
	color:white;
}

label, input 
{
	width: 80%;
	padding-left: 0;
	padding-bottom: 5px;
	padding-top: 5px;
	margin: 10px 1px;
	border-radius: 10px;
	 height: 20px;
}

#option
{
	font-size: 20px;
	text-align: left;
	/*border: 1px solid black;*/
	width: 40%;
	/*background-color: black;*/
	border-radius: 10px;
	color: black;
	font-size: 3em;
	margin: auto;
}

#register
{
	display: block;
 	border-radius: 10px;
 	width: 50%;
 	overflow: hidden;
 	font-family: 'Roboto' , 'sans-serif';
 	font-size: 1em;
 	margin: auto;
 
}

#register h1
{
	background-image: url("images/ribbon.png");
	background-repeat: no-repeat;
	color: white;
	width: 100%;
	margin: auto;
	/*overflow: hidden;*/
	align-items: center;
	/*border: 1px solid black;*/
	text-align: left;
	display: inline-block;
 	float: right;

}



/*****************
About Page
*****************/


.textalignment {

	text-align: center;
}

h1 {

	font-size: 70px;
	font-weight: bold;
	text-align: center;
	font-color: green;
	
}

title {

	font-size: 70px;
	font-weight: bold;
	text-align: center;

}

#aboutP {

	font-size: 20px;
	font-weight: bold;
	text-align: center;
	margin: auto;
	border: 10px solid red;
	font-family:'Roboto', sans-serif;
}

